/* *{border:dashed} */
:root{
    --black: rgb(0,0,0);
    --yellow: rgb(234, 171, 0);;
    --white: rgb(255,255,255);
    --red: rgb(152, 30, 50);
}

body {
    padding: 80px;
    background: rgb(32, 33, 36);
    display: grid;
    grid-template-columns: min-content auto auto;
    align-content: space-between;

}

#new-panel{
    background: rgb(154, 160, 166);
    margin: 20px;
    display: grid;
    grid-template-columns: min-content min-content;
}

#colors{
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    align-content: space-between;
}

.color{
    width:100px;
    height:100px;
    margin:10px;
    background: var(--bg);
}

#black  {--bg: var(--black)}
#yellow {--bg: var(--yellow);}
#white  {--bg: var(--white);}
#red    {--bg: var(--red);}


#values{
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    align-content: space-between;
}

.value{
    margin: 6px;
    background: var(--bg);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
.value>span{
    display: block;
    padding:4px;
    /* border:dashed; */
}

.selected{
    box-shadow: 5px 5px 5px royalblue, -5px -5px 5px royalblue;
}


.black  {--bg: var(--black); --text:var(--yellow);}
.yellow {--bg: var(--yellow); --text:var(--black);}
.white  {--bg: var(--white); --text:var(--red);}
.red    {--bg: var(--red); --text:var(--white);}